$body-bg: #1F1F23;
$body-color: rgba(255, 255, 255, 0.904);
$primary: white;
$secondary: #2e1d528a;
$tri_colour: #2b274b;
$input-bg: $tri_colour;
$input-color: white;
$custom-range-track-bg: $tri_colour;
$enable-responsive-font-sizes: true;
$modal-content-bg: #1F1F23;
$modal-content-border-color: rgb(36, 36, 36);
$modal-header-border-color: rgb(61, 61, 61);
$close-color: rgb(121, 120, 120);
@import "../node_modules/bootstrap/scss/bootstrap";


// Debug: layout outline
.my-container {
    border: 1px solid green;
}
.my-row {
    border: 1px solid red;
}
.my_col {
    border: 1px dotted blue;
}

*, *:before, *:after {
    box-sizing: inherit;
  }

html {
    box-sizing: border-box;
    font-family: sans-serif;
}
canvas {
    background: white;
}

#paint-app {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

/* For any shape tools that need a live preview */
.placeholder {
    position:absolute;
    z-index:999;
}

.colour_box{
    width:24px;
    height: 24px;
    display: inline;
}

//Colour Buttons

// .colour_box:hover{

// }

.erase-all{
    margin-left: 5px;
    margin-right: 5px;
}

//Radio Adjustments
label {
    cursor: pointer;
}
input:checked + label {
    background: red;
}

//Radio Adjustments Tools
input.tools_radio{
    visibility:hidden;
    position:fixed;
    pointer-events: none;
}
label.tools_radio{
    padding-left: 3px;
    padding-right: 3px;
}

//Radio Adjustments Strokes
input.size_radio{
    visibility:hidden;
    position:fixed;
    pointer-events: none;
}
label.size_radio{
    padding-left: 3px;
    padding-right: 3px;
}